.navBar,
.navigation,
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navBar {
  border-bottom: 2px solid #e8e8e8;
  padding: 20px;
  margin-bottom: 18px;
}

.logoContainer img {
  width: 80px;
}

.navigation {
  list-style: none;
  gap: 20px;
}

.navLinks * {
  text-decoration: none;
  color: blue;
}

.navLinks:hover {
  cursor: pointer;
}

.activeLink {
  text-decoration: underline;
}
