.navBar,
.navigation,
.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer img {
  width: 80px;
}

.navigation {
  list-style: none;
  gap: 20px;
}

.navLinks:hover {
  cursor: pointer;
}
